.link {
    stroke: #999;
    stroke-opacity: .6;
    z-index: 100;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
    z-index: 101;
}

.node_label {  
    stroke-width: 0px;
    color: #565656;
}
